<div style="background-color: #1B73F9; padding: 1.5em; display: flex; align-items: center; position: relative;">

    <!-- Toaster -->
    <div *ngIf="toggleAlert" style="position: absolute; top: 30px; width: 95%;" class="d-flex align-items-center justify-content-center">
        <app-toaster></app-toaster>
    </div>

    <div style="display: flex; align-items: center; margin-right: 2rem; cursor: pointer"
        (click)="changeApp('COUNTER')">
        <div [ngClass]="applicationName !== 'COUNTER' ? 'navItems' : ''" style="font-size: large; margin-right: .5rem;" [ngStyle]="{ 'font-weight': applicationName === 'COUNTER' ? '700' : '400' }">
            Counter App
        </div>
        <div style="background-color: #6D757D; padding: .2rem .7rem; border-radius: 1rem; color: #fff; font-weight: 700;">
            {{ counterAppCount }}
        </div>
    </div>

    <div [ngClass]="applicationName !== 'WEATHER' ? 'navItems' : ''" style="font-size: large; margin-right: .5rem; cursor: pointer;"
        [ngStyle]="{ 'font-weight': applicationName === 'WEATHER' ? '700' : '400' }"
        (click)="changeApp('WEATHER')">
        Weather App
    </div>
</div>